
* {
    font-family: sans-serif;
}

#main {
    height: 1000;
    width: 50%;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: rgba(136, 174, 138, 0.584);
}

h1 {
    text-align: center;
    color: brown;
    font-size: 50px;
    text-decoration: underline;
    padding: 0 0 40px 0;
}

.intro {
    font-size: 25px;
    margin: 10px 0;

}

.head {
    color: blue;
    font-size: 30px;
    margin: 10px 0 0 0;
    text-decoration: underline;

}

p {
    font-size: 20px;
    margin-left: 25px;
    text-align: justify;
}

img {
    position: absolute;
    top: 150px;
    left: 1100px;
}

#company {
    font-size: 21px;
}

h4 {
    font-size: 27px;
    margin-left: 55%;
    color: red;
    margin-top: 70px;

}


table,th,td{
    border: 2px solid black;
    border-collapse: collapse;   
}
table{
    margin-left: 60px;
}
th{
    font-size: 25px;
}
td{
    font-size: 18px;
}



